venv/
.env
__pycache__/
logs/

*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.coverage
*.egg-info/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/
.DS_Store
.env.*
*.env
*.bak
*.swp
*.swo
node_modules/
tests/